.wrapper
  .side
    .header
      .header__sidebox
        = render "side_bar"
    .side__groups
  .main
    .main__header
    .main__chat
      = render "main_chat"
    .main__form
      = render "form"