.wrapper
  .side
    .header
      .header__sidebox
        %p.user
          masa
        %ul.menu
          %li.list 
            = link_to '#' do
              = icon('fa', 'edit',class: 'icon')
          %li.list 
            = link_to '#' do
              =icon('fa', 'cog',class: 'icon')
    .side__groups
      .group
        .name
          techcamp
        .message
          まだメッセージがありません
      .group
        .name
          techcamp
        .message
          まだメッセージがありません
          .group
        .name
          techcamp
        .message
          まだメッセージがありません



  .main
    .main__header
      .header-left
        test
        %ul.left-bottom
          Member:
          %li.Member
          masa
      .header-right
        Edit
    .main__chat
      .chat-message
        .top-message
          .top-message__name
            masa
          .top-message__date
            2019/11/20(Wed) 17:43:01
        .bottom-message
          .bottom-message__content
          おはよう！
      .chat-message
        .top-message
          .top-message__name
            masa
          .top-message__date
            2019/11/20(Wed) 17:43:01
        .bottom-message
          .bottom-message__content
          おはよう！
      .chat-message
        .top-message
          .top-message__name
            masa
          .top-message__date
            2019/11/20(Wed) 17:43:01
        .bottom-message
          .bottom-message__content
          おはよう！
    .main__form
      %form.new-message
        %input.text
        .form__mask
          %label.form__mask__image
            = icon('fa','image',class: 'icon')
            %input.hidden{type: 'file'}
        %input.form__submit{type: 'submit', value: 'Send'}